/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS */
* {
  box-sizing: border-box;
}

p {
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
}

.orange {
  background-color: #ff764e;
}

.teal {
  background-color: #5ed3eb;
}

.yellow {
  background-color: #ffcd69;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.nav__links-container--flex,
.hook__container {
  margin: 0 6rem;
}

.nav__links-container--flex {
  display: flex;
  padding: 3.4rem 9.7rem;
  justify-content: space-evenly;
}

.nav__link {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 125px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hook__container {
  margin: 3.7rem 16rem;
  display: flex;
}

.hook__img-container {
  height: 225px;
  margin: 0 6rem;
}

img {
  border-radius: 100%;
  display: inline-block;
  height: inherit;
}

.hook__header--title {
  font-size: 5rem;
  font-weight: bold;
  word-spacing: 0.5rem;
  letter-spacing: 2px;
  margin: 2.2rem 0;
  font-family: "Chelsea Market", "cursive";
}

.hook__header--normal-text {
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: center;
  margin-bottom: 2.2rem;
  margin-right: 5rem;
}

.hook__header--pitch-text {
  font-size: 1.6rem;
  width: 65%;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin-left: 7rem;
}

.history__section {
  margin: 24px 0;
  font-size: 1.6rem;
  word-spacing: 5px;
  text-align: center;
  width: 960px;
  margin: 0 auto;
  padding-top: 2rem;
  background-color: #ddb9a3;
  color: white;
  margin-bottom: 0;
}

.history__section p {
  margin: 0 auto;
  word-spacing: 7px;
  padding-bottom: 2rem;
  line-height: 2rem;
}

.suggestions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.suggestions__info-box {
  width: 33%;
}

.suggestions__img-container {
  display: flex;
  justify-content: center;
}

.suggestions__img-container img {
  display: inline-block;
  width: 50%;
  position: relative;
  top: -1.2rem;
}

.suggestions__text {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -3.6rem;
}

.suggestions__info-box:last-child {
  position: relative;
  top: -2rem;
}

.suggestions__info-box:last-child .suggestions__text {
  top: -1rem;
}
